/* Estilos generales del menú de usuario */
.user-menu {
    position: relative;
    display: inline-block;
}

.user-button {
    background-color: #4CAF50; /* Color verde */
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.user-button:hover {
    background-color: #45a049; /* Cambio de color al pasar el ratón */
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px;
    margin-top: 10px;
}

.dropdown-content a, .dropdown-content button {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    background-color: white;
    border: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.dropdown-content a:hover, .dropdown-content button:hover {
    background-color: #ddd;
}

.user-menu:hover .dropdown-content {
    display: block; /* Mostrar el contenido del dropdown cuando se pasa el ratón sobre el menú */
}

/* Estilos para los botones del menú */
button {
    background-color: transparent;
    border: none;
    color: inherit;
    font-size: inherit;
    cursor: pointer;
}

button:focus {
    outline: none;
}
